@import "tailwindcss";

@theme{
  --color-background: #000000;
  --color-backcontact: #1f2c3b;
  --color-button: #dbf52f;
  --color-square:#071c2a;
  --font-mbgrotesk: 'MB Grotesk', sans-serif;

  --font-family-mbgrotesk: var(--font-mbgrotesk);
}

body {
  background-color: var(--color-background);
  font-family: var(--font-mbgrotesk);
}

.text-shadow-md {
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.75); /* Ajuste os valores se quiser mais ou menos sombra */
}